.flatpickr-months .flatpickr-month {
  background: white;
  font-family: "Inter", sans-serif;
  color: #293044;
  height: 48px;
  border-bottom: solid 1px #E1E2E4;
}

.flatpickr-months .flatpickr-month .flatpickr-current-month {
  padding: 0;
  display: flex;
}

.flatpickr-months .flatpickr-month .flatpickr-current-month,
.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  font-size: 16px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-current-month input.cur-year {
  font-weight: 500;
  text-align: center;
  padding: 0;
  text-align-last:center;
}

.flatpickr-current-month .flatpickr-monthDropdown-months,
.flatpickr-current-month .numInputWrapper{
  width: auto;
  flex: 1;
  padding: 8px;
  border-radius: 4px;
  text-align: center;
  height: 36px
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  appearance: none;
}

.flatpickr-innerContainer {
  padding: 16px 0px;
}

.flatpickr-weekdays {
  background: white;
  margin-bottom: 2px;
}

span.flatpickr-weekday {
  background: white;
}

.flatpickr-months select.flatpickr-monthDropdown-months {
  background: white;
}

/* Change selection color to match checkfirst theme */
.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #1B3C87;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #fff;
  border-color: #1B3C87;
}
.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n+1)) {
  -webkit-box-shadow: -10px 0 0 #1B3C87;
          box-shadow: -10px 0 0 #1B3C87;
}
.flatpickr-day.week.selected {
  border-radius: 0;
  -webkit-box-shadow: -5px 0 0 #1B3C87, 5px 0 0 #1B3C87;
          box-shadow: -5px 0 0 #1B3C87, 5px 0 0 #1B3C87;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  fill: #1B3C87;
}